{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3 text-light">
<h1 class="text-center text-light">Update Movies</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
  <label  class="form-label">Title</label>
  <input type="text" class="form-control" name="t" value="{{movie.title}}" placeholder="enter title">
</div>
    <div class="mb-3">
  <label  class="form-label">Description</label>
        <textarea class="form-control" name="d" >{{movie.desc}}</textarea>
</div>
    <div class="mb-3">
  <label  class="form-label">Language</label>
  <input type="text" class="form-control" name="l" value="{{movie.language}}" placeholder="enter language">
</div>
    <div class="mb-3">
  <label  class="form-label">Year</label>
  <input type="number" class="form-control" name="y" value="{{movie.year}}" placeholder="enter year">
</div>
    <div class="mb-3">
        <img src="{{movie.image.url}}">
  <label  class="form-label">Image</label>
  <input type="file" class="form-control" name="i" ></div>
        <div class="mb-3">
    <input type="submit" class="btn btn-dark text-light px-4" >
  </div>
</form>
</div>

{% endblock %}