{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3 text-dark bg-secondary">
<h1 class="text-center">Your Orders</h1>
<h2 class="text-center">Customer name:{{user.username}}</h2>


{% for i in orders %}
<div class="card mb-3 mx-auto border border-1 border-danger" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{i.product.image.url}}" class="img-fluid rounded-start" height="200px" width="100%" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">Productname:<b>{{i.product.name}}</b></h4>
        <p class="card-text text-dark">Price:<b>{{i.product.price }}</b></p>
        <p class="card-text text-dark">Numerofitems:<b>{{i.no_of_items}}</b></p>
        <p class="card-text text-dark">Order_id:<b>{{i.order_id}}</b></p>
        <p class="card-text text-dark">Ordered on:<b>{{i.ordered_date}}</b></p>
        <p class="card-text"><b class="text-danger">Delivery_status:{{i.delivery_status}}</b></p>


      </div>
    </div>
  </div>
</div>

{% endfor %}}
</div>
{% endblock %}
